/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 04-Oct-2019, 22:16:48
    Author     : Peter
*/

body {
    background-color:#e6e6e6;
}
div{
    font-family: "Times New Roman";
    font-size: 80%;
}